.ShopBox {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
}

.ShopTitleBox {
  width: 100%;
  height: 452px;
  position: relative;

  img {
    height: 100%;
    object-fit: cover;
    object-position: center;
    width: 100%;
    filter: brightness(0.5);
    position: absolute;
    z-index: -1;
    //background-color: #000;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .text {
    width: 30%;
    height: auto;
    position: absolute;
    top: 60%;
    left: 30%;
    transform: translate(-50%, -50%);
    //text-align: center;
    color: white;
  }
}

.ShopContent {
  width: 100%;
  height: auto;
  display: flex;
  margin: 20px 0;
}

.ShopContentLeft {
  width: 42%;
  height: auto;
  min-height: 800px;
  border: #e66c00 1px solid;
  margin: auto 0 auto auto;
  //  超出换行
  display: flex;
  flex-wrap: wrap;
  //justify-content: space-between;
}

// 展示模版
.ShopCommodityBox {
  width: 255px;
  height: 510px;
  display: flex;
  border-radius: 8px;
  box-shadow: 0 0 10px 0 #cccccc;
  flex-direction: column;
  transition: all 0.5s;
  margin: 5px;

  &:hover {
    box-shadow: 0 0 10px 0 #e66c00;
  }
}

.ShopCommodityBoxImageBox {
  width: 100%;
  height: 45%;
  position: relative;
  border-radius: 8px 8px 0 0;
  overflow: hidden; /* 防止图片超出容器 */
}

.ShopCommodityBoxImageBox img {
  height: 100%;
  object-fit: cover;
  object-position: center;
  width: 100%;
  position: absolute;
  z-index: -1;
  transition: all 0.5s;
}

.ShopCommodityBoxImageBox:hover img {
  transform: scale(1.1); /* 放大10% */
  z-index: 1;
  cursor: pointer;
  box-shadow: 0 0 10px #e66c00;
}

.ShopCommodityTitle {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;

  .ShopCommodityTitlePR {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
    font-size: 17px;
  }
}

.ShopCommodityAbout {
  width: 80%;
  height: auto;
  margin: auto auto 10px auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 15px;
  line-height: 25px;
  text-align: center;
}

.ShopCommodityBtn {
  width: 60%;
  height: 50px;
  margin: 20px auto;
  background-color: #f87f0f;
  border-radius: 25px;
  border: none;
  cursor: pointer;
  outline: none;
  padding: 0;
  font-size: 18px;
  color: white;
  transition: all 0.5s;
  &:hover {
    color: #fff;
    background-color: #e66c00;
  }
}

.ShopContentRight {
  width: 30%;
  height: auto;
  min-height: 800px;
  margin: 0 auto auto 10px;
  padding: 0 10px;
}

.SearchBox {
  width: 60%;
  height: 50px;
  display: flex;
  margin-top: 20px;

  input {
    width: 80%;
    height: 100%;
    border: 1px solid #e1e1e1;
    background: #f4f5f8;
    padding: 0 10px;
    outline: none;
    font-size: 16px;
    color: #333;
    transition: all 0.3s;
    &:focus {
      border: 1px solid #f87f0f;
    }
    &::placeholder {
      color: #999;
    }
    &:hover {
      border: 1px solid #f87f0f;
    }
  }

  button {
    width: 20%;
    height: 100%;
    background: #f87f0f;
    border: 1px solid #f87f0f;
    border-radius: 0 10px 10px 0;
    margin-left: -2px;
    cursor: pointer;
    color: white;
    font-size: 17px;
    transition: all 0.3s;
  }
  button:hover {
    background: #e66c00;
  }
}

.PriceBox {
  width: 100%;
  height: 80px;
  margin-top: 20px;
}

.PriceRange {
  width: 100%;
  height: 50px;
  margin-top: 10px;
  display: flex;

  .ESO {
    width: 40%;
    margin: 0 10px;
  }
}

.ClassificationBox {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

.title-wrapper {
  display: flex;
  align-items: center;
  gap: 4px;
}

.title-wrapper.is-active {
  color: var(--el-color-primary);
}

.ECI {
  width: 100%;
  height: auto;
  margin-top: 10px;
}

.BestsellerBox {
  width: 100%;
  height: auto;
  margin-top: 20px;
}

.BestsellerDisplayBox {
  width: 95%;
  height: 100px;
  border: #cccccc 1px solid;
  border-radius: 10px;
  margin: 10px 0;
  display: flex;

  .DisplayImg {
    width: 80px;
    height: 80px;
    margin: auto 10px;
    overflow: hidden;
    position: relative;
    border-radius: 10px;

    img {
      width: 100%;
      height: 100%;
      border-radius: 10px;
      object-fit: cover;
      object-position: center;
      cursor: pointer;
      position: absolute;
      transition: all 0.5s;
      &:hover {
        transform: scale(1.2);
      }
      &:active {
        transform: scale(1);
      }
    }
  }

  .DisplayAbout {
    width: 55%;
    height: 70px;
    margin: auto auto auto 0;
    display: flex;
    flex-direction: column;
  }
}
